.game {
  display: flex;
  flex-direction: column;
}

.game__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 1.5rem;
}

.game__loopIcon {
  margin: 8rem auto 0;
  font-size: 10rem !important;
  animation: loopIcon 1s linear infinite;
  color: hsl(300, 30%, 40%);
}

.game__startButton {
  font-size: 2rem;
  font-weight: 800;

  margin-top: 8rem;
  padding: 3rem 6rem;
  background: hsl(300, 30%, 40%);
  color: hsl(0, 0%, 95%);
  letter-spacing: .25rem;
  border-radius: 5rem;

  border: none;
  outline: none;

  cursor: pointer;
  transition: all .1s ease-in-out;
}

.game__startButton:hover {
  box-shadow: 0 0 20px 5px hsl(300, 30%, 40%);
  color: hsl(300, 30%, 40%);
  background: hsl(0, 0%, 95%);
}

.game__points {
  display: flex;
  justify-content: center;
  gap: 1.2rem;

  margin-top: 1rem;
  font-size: 1.2rem;
  color: hsl(0, 0%, 30%);
}

.game__guesses {
  display: flex;
  flex-direction: column;
}

.game__summary {
  text-align: center;
  margin-top: 3rem;
}

.game__summary p {
  font-size: 1.2rem;
}

.game__summary button {
  padding: 10px 20px;
  margin: 1.2rem auto;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 800;
  color: hsl(0, 0%, 95%);

  background: hsl(90, 50%, 40%);
  cursor: pointer;

  transition: all .1s ease-in-out;
}

.game__summary button:hover {
  box-shadow: 0 0 20px 5px hsl(90, 50%, 40%);
  color: hsl(90, 50%, 40%);
  background: hsl(0, 0%, 95%);
}

@keyframes loopIcon {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(-360deg);
  }
}