.loginPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: hsl(0, 0%, 10%);
}

.loginPage a {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: hsl(0, 0%, 30%);
  background: hsl(0, 0%, 80%);

  padding: 2rem 4rem;
  border-radius: 3rem;

  box-shadow: 0 0 5rem 1rem hsl(0, 0%, 30%);

  transition: all .2s ease-in-out;
}

.loginPage a:hover {
  color: #1ED760;
  background: hsl(0, 0%, 10%);
}

