.guessRow {
  width: clamp(300px, 100%, 500px);
  text-align: center;
  padding: 10px 20px;
  margin: 1.2rem auto;
  border-radius: 5px;
  font-weight: 800;
  color: hsl(0, 0%, 95%);

  background: hsl(90, 50%, 40%);
  cursor: pointer;

  transition: all .1s ease-in-out;
}

.guessRow:hover {
  box-shadow: 0 0 20px 5px hsl(90, 50%, 40%);
  color: hsl(90, 50%, 40%);
  background: hsl(0, 0%, 95%);
}